# Nagios (or Naemon) check for devpi-server, using extras/check_devpi.py.
#
# Install:
#   install -m 0755 check_devpi.py /usr/lib/nagios/plugins/check_devpi.py
#   cp devpi.cfg /etc/nagios/objects/devpi.cfg   and add a cfg_file= line for it
#
# $ARG1$ is the devpi-server root URL; $ARG2$ takes any further options, e.g.
#   --index root/pypi --ca-file /etc/ssl/certs/internal-ca.pem

define command {
    command_name    check_devpi
    command_line    $USER1$/check_devpi.py --url '$ARG1$' $ARG2$
}

define service {
    use                     generic-service
    host_name               devpi
    service_description     devpi
    check_command           check_devpi!https://devpi.internal!--index root/pypi
    check_interval          1
    retry_interval          1
}
